---
import Bagde from "../components/Bagde.astro";
import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <main>
    <section class="w-full lg:w-[740px] mx-auto py-44">
      <h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-4">
        Hey soy Diego
        <div class="flex justify-center items-center">
          <Bagde>Disponible para trabajar</Bagde>
        </div>
      </h1>
      <h2 class="text-xl">
        +3 años de experiencia. Desarrollador Frontend y Backend. De Tenerife,
        España 🇪🇸. Especializado en buscar soluciones a problemas originales,
        complejas y unicas.
      </h2>
    </section>
  </main>
</Layout>
