---
import Home from "../components/Home.astro";
import Experience from "../components/Experience.astro";
import ListProjects from "../components/ListProject.astro";
import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="Portfolio de Diego - Desarrollador y Programador Web" description="Contrata a Diego para tu próximo proyecto web."> 
  <main class="px-8">
    <Home />
    <Experience />
    <ListProjects />
  </main>
  
</Layout>
