---
import Home from "../components/Home.astro";
import Experience from "../components/Experience.astro";
import ListProjects from "../components/ListProject.astro";
import Layout from "../layouts/Layout.astro";
import Perfil from "../components/Perfil.astro";
import Certificados from "../components/Certifcations.astro";
import Certifcations from "../components/Certifcations.astro";

---

<Layout title="Portfolio de Diego - Desarrollador y Programador Web" description="Contrata a Diego para tu próximo proyecto web."> 
  <main class="px-8">
    <Home />
    <Experience />
    <ListProjects />
    <Perfil/>
    <Certifcations/>
  </main>
  
</Layout>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    if (window.location.hash) {
      history.replaceState(null, "", window.location.pathname);
    }
    window.scrollTo(0, 0);
  });
</script>


