---
import WorkExperience from "../icons/WorkExperience.astro";
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
  {
    title: "Frontend/Backend Developer",
    company: "Dstech",
    date: "2023-2025",
    description:
      "Mantenimiento de aplicaciones para gestión de proyectos, incluyendo la corrección de errores y la implementación de nuevas funciones según los requisitos del cliente",
    link: "https://www.dstech.it",
    practica: false,
    job: true,
  },
  {
    title: "Frotend Developer",
    company: "FSV",
    date: "2023-2023",
    description:
      "Desarrollo de programas para la automatización y control de máquinas de vending mediante su código único.",
    link: "https://www.fsv.es",
    practica: true,
    job: false,
  },
  {
    title: "Frotend Developer",
    company: "FSV",
    date: "2022-2022",
    description:
      "Desarrollo de páginas web para la visualización de datos y estadísticas empresariales.",
    link: "https://www.fsv.es",
    practica: true,
    job: false,
  },
];
---

<section
  id="experiencia"
  class="w-full lg:w-[740px] xxs:h-200 mx-auto flex xxs:mb-50 md:mb-10 flex-col justify-center"
>
  <h2
    class="text-3xl font-semibold mb-5 text-white flex items-center gap-x-5 md:mt-30 xs:mt-20 xxs:mt-60 dark:text-gray-900"
  >
    <WorkExperience class="size-8" />Experiencia laboral
  </h2>
  <ol class="relative border-s border-blue-400 dark:border-gray-700 ml-3.5">
    {
      EXPERIENCE.map((experience) => (
        <li class="mb-10 ms-8">
          <ExperienceItem {...experience} />
        </li>
      ))
    }
  </ol>
</section>
