<header class="header fixed top-0 flex items-center justify-center py-5 w-full z-50 backdrop-blur-lg bg-black/80">
  <nav class="flex flex-row gap-x-10 opacity-80 nav-list text-xl font-semibold">
    <a class="hover:scale-110 hover:opacity-70 transition duration-300" href="#about-me">Home</a>
    <a class="hover:scale-110 hover:opacity-70 transition duration-300" href="#projects">Proyectos</a>
    <a class="hover:scale-110 hover:opacity-70 transition duration-300" href="/">Blog</a>
    <a class="hover:scale-110 hover:opacity-70 transition duration-300" href="/">Contact</a>
  </nav>
</header>
