---
import type { ACTION_ERROR_CODES } from "astro:actions";
import Web from "../icons/Web.astro";
import Project from "./Project.astro";

const projects = [
  {
    name: "Project One",
    description: "Descripcipon de un proyecto largo que se ha realizado en el pasado",
    link: "https://google.com",
    image:"https://flowbite.com/docs/images/blog/image-4.jpg",
    languages:[
      "Angular",
      "SpringBoot"
    ]
  },
  {
    name: "Project Two",
    description: "Descripcipon de un proyecto largo que se ha realizado en el pasado",
    link: "#",
    image:"https://flowbite.com/docs/images/blog/image-4.jpg",
    languages:[
      "Angular",
      "SpringBoot"
    ]
  },
  {
    name: "Project Three",
    description: "Descripcipon de un proyecto largo que se ha realizado en el pasado",
    link: "#",
    image:"https://flowbite.com/docs/images/blog/image-4.jpg",
    languages:[
      "Angular",
      "SpringBoot"
    ]
  },
];
---

<section class="w-full lg:w-[740px] flex flex-col gap-4 mb-70 mt-20 " id="projects">
  <h2 class="text-2xl font-semibold mb-5 opacity-50 flex items-center gap-x-5 mt-20 dark:text-gray-900"> <Web class="size-8"/>Proyectos</h2>
  <Project {...projects[0]} />
  <Project {...projects[2]} />
  <Project {...projects[0]} />
  <Project {...projects[1]} />
  <Project {...projects[2]} />
</section>

