---
import Avatar from "../icons/Avatar.astro";
---

<section
  id="perfil"
  class="w-full lg:w-[740px] flex flex-col mb-20"
>
  <h2
    class="text-3xl font-semibold mb-5 text-white flex items-center gap-x-5 md:mt-4 xs:mt-20 xxs:mt-60 dark:text-gray-900"
  >
    <Avatar class="size-8" />Perfil
  </h2>
  <div>
    <p class="xxs:text-[16px] md:text-xl text-pretty mb-3">
      <span class="text-violet-700">Soy un desarrollador Full Stack con m치s de 3 a침os de experiencia</span>
       <span class="dark:text-black text-white">creando
      soluciones innovadoras y eficientes para proyectos web y aplicaciones
      empresariales. Mi enfoque combina un s칩lido dominio de tecnolog칤as
      Frontend y Backend con una mentalidad</span> <span class="text-violet-500">anal칤tica y creativa</span> 
      <span class="dark:text-black text-white">para resolver problemas complejos. Desde Tenerife, Espa침a 游쀯릖, he trabajado en el
      desarrollo y mantenimiento de plataformas de gesti칩n, optimizaci칩n de
      procesos y automatizaci칩n de sistemas, siempre con el objetivo de ofrecer
      productos</span> 
      <span class="text-fuchsia-700">funcionales, escalables y de alto rendimiento.</span>
    </p>
    <p class="xxs:text-[16px] md:text-xl text-pretty">
      <span class="dark:text-black text-white">Me especializo en construir </span>
      <span class="text-violet-700">interfaces intuitivas, desarrollar APIs
      robustas y dise침ar soluciones a medida</span> <span class="dark:text-black text-white">que se adaptan a las necesidades
      del cliente. Disfruto enfrentando retos t칠cnicos y buscando enfoques
      originales para mejorar la experiencia del usuario y la eficiencia del
      software. Si est치s buscando a alguien que transforme ideas en productos</span>
      <span class="text-fuchsia-700">digitales efectivos</span><span class="dark:text-black text-white">, estar칠 encantado de colaborar en tu pr칩ximo proyecto.
      游</span>
    </p>
  </div>
</section>
