---
import { Image, imageConfig } from "astro:assets";
import LinksProjects from "./LinksProjects.astro";
import Angular from "../icons/Angular.astro";
import SpringBoot from "../icons/SpringBoot.astro";
import Code from "../icons/Code.astro";
import Site from "../icons/Site.astro";

interface Props {
  name:string
  image:string
  description:string
  link:string
  languages:string[]
}

const { name, image, description, link, languages} = Astro.props
---

<div
  class="flex flex-col items-center  bg-transparent border border-gray-200 rounded-lg shadow-sm md:flex-row dark:border-gray-700 dark:bg-transparent"
>
  <img
    class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg"
    src={image}
    alt={name}
  />
  <div class="flex flex-col p-4">
    <h5
      class="mb-2 text-2xl font-bold tracking-tight text-white/50 dark:text-gray-900"
    >
      {name}
    </h5>
    <p class="mb-3 font-normal text-white dark:text-gray-400">
      {description}
    </p>
    <div class="flex flex-row gap-x-4">
      <LinksProjects>
        <Code/>
        Code
      </LinksProjects>
      <LinksProjects>
        <Site/>
        Ejemplo
      </LinksProjects>
    </div>
    <div class="flex flex-row justify-end items-center mt-10 gap-x-4">
      {
        languages.map((language)=>{
          if(language=="Angular"){
            return <Angular class="size-6"/>
          }
          if(language=="SpringBoot"){
            return <SpringBoot class="size-6"/>

          }
        })
      }
      
    </div>
  </div>
</div>
