---
interface Props{
  id:string
  className:string
}

const {id , className} = Astro.props
---

<section
  id={id}
  class={`w-full lg:w-[740px] mx-auto flex flex-col justify-center ${className}`}
>
<slot/>
</section>